body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'GothamBook', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'GothamBook', 'Courier New',
    monospace;
}

:root {
  --primary-color: #ff5733;
  --secondary-color: #33ff57;
  --white: white;
}
